/** 表格搜索公共样式 */
.form-search {
  margin-bottom:10px;
}
.form-search .el-form-item.search-action{
  text-align: center;
}
.form-search .el-form-item {
  display: inline-block;
  margin-bottom: 10px;
}
.form-search .el-form-item .el-input__inner {
  width: 192px;
}

/** 表格公共样式 */
.table-list{
  border: 1px solid #d7dee7;
  border-radius: 5px;
}
.table-list .el-table{
  border-left: 0px;
}
.table-list .table-pager{
  text-align: center;
  padding: 5px 0;
}
.table-list .action{
  margin: 10px;
}
.table-list .el-button--text.disable{
  color: #48576a;
}
.table-list .el-button--text.enable{
  color: #13ce66;
}
.table-list .el-button--text.delete, .hot{
  color: red;
}
.table-list .el-table .cell, .el-table th>div{
  padding-left: 5px;
  padding-right: 5px;
}
.table-list .el-table th{
  text-align: center;
}
.table-list .el-table__body, .el-table__header{
  text-align: center;
}
/** 上传图片样式 */
.pic-uploader .el-upload{
  border: 1px dashed #bfcbd9;
  border-radius: 6px;
  cursor: pointer;
}
.pic-uploader .el-upload:hover{
  border-color: #20a0ff;
}
.pic-uploader img{
  width: 350px;
}
.pic-uploader-icon{
  padding: 100px 160px;
  font-size: 28px;
}
